h1 {
  position: absolute;
  top: 20px;
  left: 50px;
}

.showTweets {
  position: relative;
  top: 70px;
  left: 70px;
}

.tables {
  position: relative;
  top: 70px;
  left: 70px;
}

.coinTable {
  position: relative;

}

.symbolForm {
  position: absolute;
  top: 0px;
  left: 500px;
  width: 500px;
}

/* .searchButton {
  background-color: skyblue;
  color: white;
} */
